.cart {
  width: min(100%, 500px);
  margin: 0 auto;

  .product {
    display: flex;
    gap: 1rem;
    border: 1px solid #213547;
    padding: 0.5rem;
    border-radius: 4px;
    // box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  }

  .cartHeader {
    margin-bottom: 2rem;
  }

  .cartItems {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
  }

  .productImage {
    width: 8rem;
    height: 7rem;
    object-fit: cover;
    // border-radius: 3px;
  }

  .homeLink {
    display: block;
    text-decoration: none;
    color: #213547;
    margin-top: 2rem;
  }

  .subtotal {
    display: flex;
    justify-content: end;
    padding: 1rem 0;
  }
}
