.cart {
  width: min(100%, 500px);
  margin: 0 auto;

  .cartTitle {
    text-align: center;
  }

  .product {
    display: flex;
    gap: 1rem;
  }

  .cartItems {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  }

  .productImage {
    width: 10rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 5px;
  }

  .homeLink {
    display: block;
    text-decoration: none;
    color: #213547;
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;

    @media (hover: hover) {
      &:hover {
        color: hsl(205, 78%, 60%);
      }
    }
  }
}
