.cart {
  width: min(100%, 500px);
  margin: 0 auto;

  .product {
    display: flex;
    gap: 1rem;
  }

  .cartHeader {
    margin-bottom: 2rem;
  }

  .cartItems {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
  }

  .productImage {
    width: 12rem;
    height: 7rem;
    object-fit: cover;
  }

  .homeLink {
    display: inline-block;
    text-decoration: none;
    color: #213547;
    margin-top: 2rem;

    @media (hover: hover) {
      &:hover {
        color: hsl(205, 78%, 60%);
      }
    }
  }
}
