.product {
  background: white;
  border-radius: 4px;
  overflow: hidden;
  padding: 1rem;

  a {
    text-decoration: none;
  }

  .productImg {
    display: inline-block;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 4px;
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
    color: #213547;
  }

  .cartBtn {
    border: 0;
    background-color: #213547;
    color: #fff;
    padding: 0.4rem 1rem;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.25s ease-in;

    &:disabled {
      opacity: 0.5;
      background-color: lightgray;
    }
  }

  @media (hover: hover) {
    .btnAddToCart:hover {
      background-color: hsl(208, 37%, 30%);
    }
  }
}
