.quantifier {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  max-width: 20rem;
  margin: 1rem auto;

  button {
    background-color: #213547;
    padding: 0.5rem 0.5rem;
    border-radius: 3px;
    color: #fff;
    font-size: 0.5rem;
    border: none;
    cursor: pointer;
  }

  .quantity {
    color: #213547;
    font-weight: bold;
    font-size: 1.5rem;
  }
}
