.quantifier {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin: 1rem auto;

  button {
    border-radius: 3px;
    color: #213547;
    font-size: 0.8rem;
    border: none;
    cursor: pointer;
  }

  .quantity {
    color: #213547;
    font-weight: bold;
    font-size: 0.8rem;
  }
}
